{% extends 'learning_log/base.html' %} {% block content %}
<h3>Topic: {{ topic }}</h3>
<p>Entries:</p>
<p>
  <a href="{% url 'learnings_app:new_entry' topic.id %}">Add new entry</a>
</p>

  {% for entry in entries %}

    <div class="card mb-3">
      <h4 class="card-header">
      {{ entry.date_added|date:'M d, Y H:i' }}
      <small><a href="{% url 'learnings_app:edit_entry' entry.id %}">Edit entry</a></small>
      </h4>
      <div class="card-body">
        {{ entry.text|linebreaks }}
      </div>
    </div>

  {% empty %}
  <li>No hay entradas</li>
  {% endfor %}

{% endblock content %}
